@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

/* ベースは最小幅の時の流体サイズ */
html {
	font-size: calc(10 / 375 * 100vw);
}

/* 中画面（768px以上） */
@media (min-width: 768px) {
	html {
		font-size: calc(10 / 1280 * 100vw);
	}
}

/* 大画面（1280px以上）は固定 */
@media (min-width: 1280px) {
	html {
		font-size: 10px;
	}
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	word-wrap: anywhere;
	color: var(--foreground);
	background: var(--background);
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	letter-spacing: 0.05em;
	font-weight: 400;
}

button {
	cursor: pointer;
}

/* 
a {
	color: inherit;
	text-decoration: none;
	transition: opacity 0.3s;
}

a:hover {
	text-decoration: underline;
}

ul,
ol {
	list-style: none;
}

img {
	display: block;
	font-style: italic;
} */

/* フォームリセット */
/* 
button {
	box-shadow: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

input,
button,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	color: inherit;
	font: inherit;
	outline: none;
}

textarea {
	resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #B3B3B3;
}

input::placeholder,
textarea::placeholder {
	color: #B3B3B3;
}

input[type=submit],
input[type=button],
label,
button,
select {
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
} */